<!--
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Krisha</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

-->

  <!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Krisha</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Advisory System</title>
    <style>
      html, body {
  height: 100%;
  margin: 0;
}
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
            background-image: url('../images/Dark\ Green\ and\ White\ Minimalist\ Nature\ Ecosystem\ Presentation.png');
border: 100px;
display: flex;
    flex-direction: column;
        }
        header {
         
            background-color: #4CAF50;
            color: white;
            padding: 1em;
            text-align: center;
        }
        nav {
   margin: 1em 0;
}

nav a {
    margin: 0 10px; 
    text-decoration: none;
    color: white;
    text-align: center;

}

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color:transparent;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            flex: 1; /* This makes the container take all available space */
        }
        h2 {
            color: #4CAF50;
        }
        footer {
            text-align: center;
            margin-top: 20px;
            font-size: 0.9em;
            color: #666;
            padding: 10px 0; 
        }
        .header-img {
    max-width: 120px; 
    height: auto;
    margin-bottom: 10px; 
    float: right; 
    margin-right: 10px; 
}

.header-imgkrisha {
    max-width: 120px; 
    height: auto;
    margin-top: 30px; 
    margin-bottom: 10px; 
    float: left; 
    margin-left: 10px; 
    margin-right: 3px; 
   
   

}

.header-img2 {
    max-width: 120px; 
    height: auto;
    margin-bottom: 10px; 
    float: left; 
    margin-right: 10px; 
}

    </style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
      <img src="/images/nav_img.png" alt="Logo" class="header-img">
      <img src="/images/nav_img2.jpg" alt="Logo" class="header-img2">
      <img src="/images/Krisha.png" alt="Logo" class="header-imgkrisha">
    
        <h1>Crop Advisory System</h1>
        <nav>
          <a href="/dashboard">Home</a>
            <a href="#recommendations">Overview</a>
            <a href="#about">About Us</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>
    
    

    
</body>
</html>
